<div class='col-sm-4'>
  {{input type='text' value=field.name placeholder='Attribute Name' class='form-control'}}
</div>

<div class='col-sm-3'>
  {{#x-select value=field.type class='form-control' prompt='Attribute Type'}}
    {{#each typeOptions as |option|}}
      {{#x-option value=option}}{{option}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</div>

{{#if field.hasRelation}}
  <div class='col-sm-4'>
    {{input type='text' value=field.relatedTo placeholder='Model Name' class='form-control'}}
  </div>
{{/if}}

<div class=":col-sm-1 {{unless field.hasRelation 'col-sm-offset-4'}}">
  <button type='button' {{action 'removeField' field}} class='close'><span aria-hidden='true' class='text-danger'>&times;</span><span class='sr-only'>Delete</span></button>
</div>
