App.{{model.name}} = DS.Model.extend({<br>
<ul>
  {{#each model.fields as |field|}}
    <li>
      {{camelize-word field.name}}:
      {{#if field.relatedTo}}DS.{{field.type}}('{{camelize-word field.relatedTo}}'){{else}}DS.attr('{{field.type}}'){{/if}}{{#unless field.lastField}},{{/unless}}
    </li>
  {{/each}}
</ul>
});
