<div class='col-sm-4'>
  {{input type='text' value=name placeholder='Attribute Name' class='form-control'}}
</div>

<div class='col-sm-3'>
  {{view Ember.Select content=typeOptions value=type prompt='Attribute Type' class='form-control'}}
</div>

{{#if hasRelation}}
  <div class='col-sm-4'>
    {{input type='text' value=relatedTo placeholder='Model Name' class='form-control'}}
  </div>
{{/if}}

<div {{bind-attr class='hasRelation::col-sm-offset-4 :col-sm-1'}}>
  <button type='button' {{action 'removeField'}} class='close'><span aria-hidden='true' class='text-danger'>&times;</span><span class='sr-only'>Delete</span></button>
</div>
