<section>
  <h2>Models</h2>
  <ul>
  {{#each item in model}}
    <li class="model-list-item"><h4>{{item.name}}</h4>
    <ul>
    {{#each item.fields itemController='field'}}
      <li>
      {{partial 'field'}}
      </li>
    {{/each}}
    {{#if creatingNewField}}
      {{partial 'field'}}
    {{else}}
      <li><a {{action 'newField' item}} href="#">Add Field</a></li>
    {{/if}}
    </ul>
    </li>
  {{/each}}
  {{#if creatingNewModel}}
    <li>{{view 'new-model-field'}}</li>
  {{else}}
    <li><button {{action 'newModel'}} type='button'>Add Model</button></li>
  {{/if}}
  </ul>
</section>

<section>
  <h2>Model Definitions</h2>
  <ul class='code-div'>
  {{#if modelObjects}}
  {{#each modelObjects}}
    <li>App.{{name}} = DS.Model.extend({<br>
      <ul>
      {{#each fields}}
        <li>{{camelize-word name}}:
        {{#if relatedTo}}DS.{{type}}('{{camelize-word relatedTo}}'){{else}}DS.attr('{{type}}'){{/if}}{{#unless lastField}},{{/unless}}</li>
      {{/each}}
      </ul>
    });</li>
  {{/each}}
  {{/if}}
  </ul>
  <br>

  <h2>Expected JSON</h2>
  Adapter: {{view Ember.Select content=adapterOptions value=adapter}}<br>
  {{#if jsonObjects}}
  <ul class='code-div'>
   {{#each jsonObjects}}
     <li>
     "{{pluralize-word this.name}}": [{
       <ul>
       <li>"id": 1,</li>
       {{#each fields}}
         <li>"{{this.name}}": {{placeholder-value this}}{{#unless lastField}},{{/unless}}</li>
       {{/each}}
       </ul>
     }]{{#unless lastModel}},{{/unless}}
     </li>
   {{/each}}
  </ul>
  {{/if}}
<section>