<div class="app-wrap row">
  <div class="col-sm-6">
  <h2>Models</h2>
  <ul class="list-unstyled">
    {{#each model as |item|}}
      <li class="model-list-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{item.name}}
              <button type="button" {{action "removeModel" item}} class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
            </h3>
          </div>

          <div class="panel-body">
            <ul class="list-unstyled">
              {{#each item.fields as |field|}}
                <li class="row">
                  {{model-field field=field update="updateFields"}}
                </li>
              {{else}}
                <li>
                  <p class="text-warning">No model attributes. Try using the 'Add Field' button below.</p>
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="panel-footer">
            <button type="button" {{action "newField" item}} class="btn btn-sm btn-block btn-primary">&plus; Add Field</button>
          </div>
        </div>
      </li>
    {{/each}}

    {{li-new-model save=(action 'newModel')}}
  </ul>
  </div>

  <div class="col-sm-5">
  <h2>Model Definitions</h2>

  <form class="form-horizontal" role="form">
    <div class="row form-group">
      <label for="format-select" class="col-sm-2 control-label">Format:</label>
      <div class="col-sm-9">
        {{#x-select value=modelFormat id="format-select" class='form-control'}}
          {{#each modelFormatOptions as |option|}}
            {{#x-option value=option}}{{option}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
  </form>

  <ul class="code-div well well-sm">
    {{#each modelObjects as |model|}}
      <li class="form-group">
        {{component (model-definition modelFormat) isGlobalFormat=isGlobalFormat model=model}}
      </li>
    {{/each}}
  </ul>
  <br>

  <h4>To generate:</h4>
  <ul class="code-div well well-sm">
    {{#each modelObjects as |model|}}
      <li class="form-group">
        {{component 'generate-text' model=model}}
      </li>
    {{/each}}
  </ul>
  <br>

  <h2>Expected JSON</h2>

  <form class="form-horizontal" role="form">
    <div class="row form-group">
      <label for="adapter-select" class="col-sm-2 control-label">Adapter:</label>
      <div class="col-sm-9">
        {{#x-select value=adapter id="adapter-select" class='form-control'}}
          {{#each adapterOptions as |option|}}
            {{#x-option value=option}}{{option}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
  </form>

  {{#if jsonObjects}}
    <ul class="code-div well well-sm form-group">
      {{#if isJSONAPI}}
        {{payload/jsonapi-format model=jsonObjects}}
      {{else}}
        {{#each jsonObjects as |object|}}
         <li>
           {{component 'json-payload' object=object}}
         </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}
  </div>
</div>

<footer class="app-footer text-center">
  <div class="center-block">Created and maintained by <a href="http://www.twitter.com/andy_crum">@andy_crum</a>, with the help of some pretty awesome <a href="https://github.com/andycrum/ember-data-model-maker/graphs/contributors">contributors</a>.</div>
</footer>
